{% extends 'base.html' %}
{% block title %}addgame{% endblock %}
{% block body %}
<div class="container mt-5">
  <h1>Add Game</h1>
  <form method="post">
    <input type="text" name="name" class="form-control" placeholder="Name"><br>
    <textarea name="text" class="form-control" placeholder="Text"></textarea><br>
    <input type='text' name="cost" class="form-control" placeholder="Price"><br>
    <input type='text' name="platform" class="form-control" placeholder="Platform"><br>
    <input type='text' name="developers" class="form-control" placeholder="Developers"><br>
    <input type='text' name="genre" class="form-control" placeholder="Genre"><br>
    <input type='text' name="url" class="form-control" placeholder="Url"><br>

    <input type='text' name="os_min" class="form-control" placeholder="os_min">
    <input type='text' name="os_sug" class="form-control" placeholder="os_sug"><br>
    <input type='text' name="processor_min" class="form-control" placeholder="processor_min">
    <input type='text' name="processor_sug" class="form-control" placeholder="processor_sug"><br>
    <input type='text' name="ram_min" class="form-control" placeholder="ram_min">
    <input type='text' name="ram_sug" class="form-control" placeholder="ram_sug"><br>
    <input type='text' name="graphics_min" class="form-control" placeholder="graphics_min">
    <input type='text' name="graphics_sug" class="form-control" placeholder="graphics_sug"><br>
    <input type='text' name="directx_min" class="form-control" placeholder="directx_min">
    <input type='text' name="directx_sug" class="form-control" placeholder="directx_sug"><br>
    <input type='text' name="network_min" class="form-control" placeholder="network_min">
    <input type='text' name="network_sug" class="form-control" placeholder="network_sug"><br>
    <input type='text' name="storage_min" class="form-control" placeholder="storage_min">
    <input type='text' name="storage_sug" class="form-control" placeholder="storage_sug"><br>

    <input type="submit" class="btn btn-success" value="Отправить">
  </form>
</div>
{% endblock %}
